---
# Webserver Handlers
# Triggered by configuration changes

- name: Reload firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded
  become: true

- name: Reload systemd user daemon
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR="/run/user/$(id -u {{ app_user }})"
    export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$(id -u {{ app_user }})/bus"
    systemctl --user daemon-reload
  become: true
  become_user: "{{ app_user }}"
  failed_when: false

- name: Restart aqua-topia-app
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR="/run/user/$(id -u {{ app_user }})"
    export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$(id -u {{ app_user }})/bus"
    systemctl --user restart {{ systemd_service_name }}
  become: true
  become_user: "{{ app_user }}"
  failed_when: false

- name: Restart certbot timer
  ansible.builtin.systemd:
    name: certbot-renew.timer
    state: restarted
  become: true
